<div nz-row>
  <div nz-col nzSpan="12" class="colordiv1"><form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your username!">
        <nz-input-group nzPrefixIcon="">
          <input type="text" nz-input formControlName="userName" placeholder="Username" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <!--extra feild-->

    <nz-form-item>
      <nz-form-control nzErrorTip="please enter address">
        <nz-input-group nzPrefixIcon="">
          <input type="text" nz-input formControlName="addressData" placeholder="address" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
   


    <!--extrafeild end-->
    <nz-form-item>
      <nz-form-control nzErrorTip="enter qualification">
        <nz-input-group nzPrefixIcon="">
          <input type="text" nz-input formControlName="QualificationData" placeholder="qualification" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


   
    <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">Submit</button>
    
    
    <a></a>
  </form></div>


<!--table start-->

  <div nz-col nzSpan="12" class="colordiv2">
    <nz-table #borderedTable nzBordered  [nzData]="dataSet">
      <thead>
        <tr>
          <th>Name</th>
          <th>Qualification</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataSet">
          <td>{{ data.username }}</td>
          <td>{{ data.qualification }}</td>
          <td>{{ data.address }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
<!--table end-->

<!--json data view-->
<h1>json Display</h1>
<div *ngFor="let entry of collectedData">
  <p>Name: {{ entry.Name }}</p>
  <p>Age: {{ entry.Age }}</p>
  <p>Address: {{ entry.Address }}</p>
  <hr>
</div>



<!--json data view end -->



<!--data call from service-->
<h1>Data service</h1>
<div *ngFor="let entry of collectedDataservice ">
  <p>Name: {{ entry.Name }}</p>
  <p>Age: {{ entry.Age }}</p>
  <p>Address: {{ entry.Address }}</p>
  <hr>
</div>

<!--data call from service-->